{{#if @outletArgs.model.topic_timer}}
  <div class="custom-topic-timer-top">
    <TopicTimerInfo
      @topicClosed={{@outletArgs.model.closed}}
      @statusType={{@outletArgs.model.topic_timer.status_type}}
      @statusUpdate={{@outletArgs.model.topic_status_update}}
      @executeAt={{@outletArgs.model.topic_timer.execute_at}}
      @basedOnLastPost={{@outletArgs.model.topic_timer.based_on_last_post}}
      @durationMinutes={{@outletArgs.model.topic_timer.duration_minutes}}
      @categoryId={{@outletArgs.model.topic_timer.category_id}}
      @displayName={{this.computeDisplayName @outletArgs.model.topic_timer.category_id}}
    />
  </div>
{{/if}}
